option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current"
  aws:elasticbeanstalk:container:python:
    WSGIPath: main.py
    NumProcesses: 3
    NumThreads: 20

container_commands:
  01_setup_temp_directory:
    command: "mkdir -p /var/app/current/temp && chmod 777 /var/app/current/temp"
  02_setup_streamlit_config:
    command: "mkdir -p /var/app/current/.streamlit"
  03_install_requirements:
    command: "pip install -r aws_requirements.txt"