Resources:
  AWSEBSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: Security group for RDS access
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 5432
          ToPort: 5432
          SourceSecurityGroupId: 
            Fn::GetAtt: [AWSEBSecurityGroup, GroupId]

option_settings:
  aws:elasticbeanstalk:application:environment:
    DATABASE_URL: "postgresql://username:password@your-rds-endpoint:5432/database_name"